body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;

}

.banner {
    background: rgba(0, 0, 0, 0.7)url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    background-blend-mode: darken;
    text-align: center;
    position: relative;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: 700;

}

.link-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: red;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: .3s;
    font-size: 18px;
    margin-top: 15px;
}

.link-button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid red;
}