body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* padding: 0; */
}

h1 {
    font-size: 50px;

}

.banner {
    background: rgba(0, 0, 0, 0.7)url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    background-blend-mode: darken;
    text-align: center;
    position: relative;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: 700;

}

.link-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: red;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: .3s;
    font-size: 18px;
    margin-top: 15px;
}

.link-button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid red;
}

.Donate-area {}

.donate-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}

.donate-title h1 {
    font-size: 40px;
    font-weight: 700;
}

.donate-title p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: grey;
    font-weight: 400;

}

.item-list {
    display: flex;
    justify-content: center;

}

.items {
    padding: 30px;
    font-weight: 700;
    color: rgb(53, 51, 51);
    font-size: 22px;
    /* background-color: rgb(221, 214, 214); */
    background-color: rgb(245 244 244);
    margin: 10px;
}

#items2 {
    background-color: rgb(245 223 223);
    color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 5px;
}

.input-button-field {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-field {
    /* border-bottom: 1px solid grey; */
    width: 100%;
}

.other-amount {
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    /* width: 50%; */
    font-size: 20px;
    outline: none;
    /* display: block; */

}

.donate-plan-item {
    display: flex;
    margin: 0 100px;
}

.single-plan {
    width: 30%;
    margin: 3%;
    padding: 20px;
}

#food {
    background-color: rgb(201, 250, 201);
}

#shelter {
    background-color: rgb(247, 221, 225);
}

#education {
    background-color: rgb(252, 252, 223);
}

footer {
    background-color: black;
    padding: 30px 40px;
    text-align: center;

}

footer h2 {
    font-style: italic;
    color: red;
    font-weight: 700;

}

footer p {
    color: white;
    font-size: 15px;

}